@import 'tailwindcss';
@import "bootstrap-icons/font/bootstrap-icons.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* Sidebar */
.sidebar {
  @apply bg-sky-700 text-white h-screen flex flex-col p-4 w-64 transition-all duration-300 transform;
}

.sidebar-collapsed {
  @apply w-16 p-3;
}

.sidebar-collapsed .text {
    @apply hidden;
}

.sidebar-collapsed .menu-item {
    @apply flex justify-center;
}

/* Menu */
.menu {
  @apply flex flex-col gap-2;
}

.menu-item {
  @apply px-4 py-2 rounded hover:bg-sky-600 transition-colors;
}

.danger {
    @apply px-4 py-2 rounded hover:bg-red-800 transition-colors;
}

.active {
  @apply bg-sky-600;
}

.logoNone, .hidden {
    @apply hidden;
}

.shown {
  @apply block;
}

.btn {
  @apply px-4 py-2 rounded text-white bg-sky-600  hover:bg-sky-500 transition-colors;
}

.form-input {
    @apply w-full p-3 border border-gray-300 rounded-lg focus:ring-2 focus:ring-sky-500 focus:border-sky-500 outline-none transition;
}

.btn-primary {
    @apply bg-sky-700 text-white px-6 py-2 rounded-lg hover:bg-sky-800 transition font-medium;
}